<div class="account-page">
  <div class="container">
    <div class="row" style="padding:100px 0px;">
      <div class="col-2">
        <%= image_tag("shopLogin.png", :alt => "img", width:"83%") %>
        <!-- <img src="/assets/shopLogin.png" alt="" width="83%"> -->
      </div>

      <div class="col-2">
        <div class="form-container">
          <div class="form-btn">
            <span>Edit profil</span>
            <hr id="underline">
          </div>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"input", placeholder:"Password"%>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="">
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"New password (6 charactere min)", class:"input"%>
            </div>

            <div class="">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"new password confirmation", class:"input"%>
            </div>

            <div class="">
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder:"current password", class:"input"%>
            </div>

            <div class="">
              <%= f.text_field :address, placeholder: "Cotonou, Rue 12", autofocus: true, class:"input", placeholder:"Address"%>
            </div>

            <div class="">
              <%= f.text_field :telephone, placeholder: "229 27262626", autofocus: true, class:"input", placeholder:"Phone number"%>
            </div>

            <div class="">
              <%= f.text_field :username, autofocus: true, class:"input", placeholder:"Username"%>
            </div>

            <div class="actions">
              <%= f.submit "Update", class:"btn input" %>
            </div>
          <% end %>

          <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn input" %> <br>

          <%= link_to "Back", :back %>
        </div>
      </div>
    </div>
  </div>
</div>
