<div class="account-page">
  <div class="container">
    <div class="row">
      <div class="col-2">
        <%= image_tag("shopLogin2.png", :alt => "img", width:"83%") %>
      </div>

      <div class="col-2">
        <div class="form-container">
          <div class="form-btn">
            <span>Login</span>
            <hr id="underline">
          </div>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email", class:"input"%>
            </div>

            <div class="">
              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class:"input"%>
            </div>

            <% if devise_mapping.rememberable? %>
              <div class="checkbox">
                <%= f.check_box :remember_me, class:"case" %>
                <%= f.label :remember_me, class:"case" %>
              </div>
            <% end %>

            <div class="actions">
              <%= f.submit "Log in", class:"btn input" %>
            </div>
         <% end %>

         <%= render "devise/shared/links"%>
         <br>

         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |g| %>
            <div class="actions">
              <%= g.hidden_field :email, value: "guest@example.com" %>
            </div>
            <div class="actions">
              <%= g.hidden_field :password, value: "azerty" %>
            </div>
            <div class="">
              <%= g.submit "Guest login", class: "btn input" %>
            </div>
         <% end %>

         <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |g| %>
            <div class="actions">
              <%= g.hidden_field :email, value: "guestadmin@example.com" %>
            </div>
            <div class="actions">
              <%= g.hidden_field :password, value: "azerty" %>
            </div>
            <div class="">
              <%= g.submit "Guest login Admin", class: "btn input" %>
            </div>
         <% end %>

        </div>


      </div>
    </div>
  </div>
</div>
