<div class="small-container" style="margin-top:20px;">
  <h2 class="title">Details product</h2>
</div>
<section class="product-details">
  <div class="image-details">
    <img src="<%= @product.image.url %>" alt="" width="100%">
  </div>

  <div class="text-details">
    <h1 class="product-title"> <%= @product.name %> </h1>
    <h4>Details products</h4>
    <p class="product-description"> <%= @product.description %> </p>
    <span class="product-price">Price: <%= @product.price %></span>

    <div class="btn-cart">
      <%= link_to "Add to Cart", add_cart_path(id: @product.id), class:"button", style:"background-color: #3296C8;" %>
    	<a href="<%= products_path %>" class="button" style="background-color: #C7325A;">Go to Shop</a>
    </div>
  </div>
</section>

<div class="small-container others">
  <h2 class="title" id="products">Others products</h2>
  <div class="row">
    <% Product.limit(4).each do |p| %>
      <div class="col-4">
        <a href="<%= product_path(p) %>">
          <img src="<%= p.image.url %>" alt="">
        </a>
        <h4><%= p.name %></h4>
        <div class="rating">
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bxs-star'></i>
          <i class='bx bx-star' ></i>
        </div>
        <p><%= p.price %> $</p>
      </div>
    <% end %>
  </div>
</div>

<section id="footer">
  <img src="/assets/benin.jpg" alt="" class="footer-img">
  <div class="title-text">
    <p>Contact</p>
    <h1>Visit Shop Today</h1>
  </div>
  <div class="footer-row">
    <div class="footer-left">
      <h2>Opening Hours</h2>
      <p><i class='bx bx-time-five'></i>Monday to Friday - 24H/24H</p>
      <p><i class='bx bx-time-five'></i>Saturday and Sunday - 7am to 3pm</p>
    </div>
    <div class="footer-right">
      <h1>Get In Touch</h1>
      <p>Benin, Cotonou / Abomey-Calavi<i class='bx bx-map-pin'></i></p>
      <p>afrikshop@website.com <i class='bx bxl-google-plus'></i></p>
      <p>+229 00272552 <i class='bx bx-phone'></i></p>
    </div>
  </div>

  <div class="social-links">
    <i class='bx bxl-facebook'></i>
    <i class='bx bxl-instagram'></i>
    <i class='bx bxl-twitter'></i>
    <i class='bx bxl-youtube'></i>

    <p>Copyright Franck AÏGBA | @dive in code</p>
  </div>

</section>
