<!DOCTYPE html>
<html>
  <head>
    <title>AfrikShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width = device-width, initial-scale=1">

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script|Tangerine|Cookie|Material+Icons">

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <div id="sideNav">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="<%= products_path %>">Go to shop</a></li>
          <li><a href="#footer">Contact</a></li>
          <% if user_signed_in? %>
            <% if current_user.admin? %>
              <li><a href="/admin">Dashbord Admin</a></li>
            <% end %>
            <% if current_user.carts.count != 0 %>
              <li><a href="<%= carts_path %>">Cart [<%= current_user.carts.count %>] </a></li>
            <%end%>
            <li><a href="<%= orders_path %>">Orders</a></li>
            <li><a href="<%= user_path(current_user.id) %>">Profil</a></li>
            <li><%= button_to "logout", destroy_user_session_path, method: :delete, class:"btn-logout"%></li
          <% else %>
            <li><a href="#service">Our products</a></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <button type="button" id="menuBtn" name="menu">
      <i class='bx bx-menu bx-md'></i>
    </button>

    <div id="google_translate_element"></div>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

    <script type="text/javascript">
      function googleTranslateElementInit(){
        new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,es,fr,ar,de,el,iw,ja', autodisplay:false}, "google_translate_element");
      }
    </script>

    <script type="text/javascript">
      var sideNav = document.getElementById('sideNav');

      // sideNav.style.right = "0px"; //Pour les tests de deconnection décochez la ligne courante et commentez toute celles du dessous

      $("#menuBtn").click(function(){
        if(sideNav.style.right == "-250px"){
          sideNav.style.right = "0";
        }
        else{
          sideNav.style.right = "-250px";
        }
      });
    </script>



  </body>
</html>
